<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="/js/controller.js"></script>
    <title>Document</title>
</head>
<body ng-app="myApp">
	<h1>Hello World!!!</h1>
	
	<div ng-controller="ctrl">
		<table>
			<tbody>
				<tr ng-repeat="p in productos">
					<td>{{ p.descripcion }}</td>
					<td>{{ p.precio }}</td>
					<td>{{ p.marca.nombre }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>